[Unit]
Description=Process closed IRC conversations every ten minutes

[Timer]
OnCalendar=*:0/10
Persistent=true
Unit=bottled-ghosts-recollect.service

[Install]
WantedBy=timers.target
